@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&display=swap');
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 1.5vh;
    background: linear-gradient(0deg,rgba(255, 241, 230, 1) 0%, rgba(224, 201, 175, 1) 100%);
}

.index-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.content-container {
    width: 60vw;
    height: 100%;
    border-radius: 2vh;
    padding: 3vh;
    padding-inline: 9vw;
    
    font-family: "Faustina", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}

.desc {
    width: 40vw;
    transform: translateY(-20vh);
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    margin-left: 5vw;
}

.top-section {
    display: flex;
    align-items: center;
    transform: translateY(-20vh);
    height: 50%;
    line-height: 2.5vh;
}
.top-section p {
    margin-top: 60vh;
    margin-left: 25vw;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
}

.top-section img {
    position: absolute;
    border-radius: 100%;
}

.title {
    font-family: "Faustina", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    font-size: min(4.5vw, 80pt);
    position: absolute;
    background: white;
    padding:10px;
    padding-inline: 40px;
    border-radius: 100px;

    z-index: 10;
    top: 30vh;
    left: 30vw;
}

.wide-title {
    font-family: "Faustina", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    font-size: min(4.5vw, 80pt);
    position: absolute;
    top: 12vh;
    left: 35vw;
    background: white;
    padding: 30px;
    border-radius: 50px;
}

.link-container {
    position: fixed;
    bottom: 2vh;
    width: fit-content;
    height:fit-content;
    transform-origin: center;
    transform: translateX(-50%);
    left: 50vw;
    display: flex;
    line-height: 2.5vh;
    background-color: rgb(255, 232, 213);
    border: 2px solid rgb(255, 180, 130);
    border-radius: 20vh;
    box-shadow: 0px 5px 10px rgba(131, 98, 56, 0.377);
}


.link-container a {
    text-align: center;
    color: black;
    font-weight: 600;
    text-decoration: none;
    background: rgb(255, 255, 255);
    border-radius: 20vh;
    padding: 1vh;
    margin-inline: 4px;
    box-shadow: 0px 5px 10px rgba(121, 87, 60, 0.377);

}

.link-container a:hover {
    transition: 0.25s;
    background: rgb(255, 239, 230);
}

.contacts {
    display: flex;
    justify-content: right;
    padding-left: 3vw;
    margin-right: 1vw;
}

.navigation {
    display: flex;
    justify-content: left;
    margin-left: 1vw;
}

img {
    height: min(18vw, 600px);
    width: min(18vw, 600px);
}

.portfolio{
    height: 100%;
    margin-top: 30vh;
}

.portfolio-desc {
    margin-top: 9vh;
    visibility: hidden;
}
.portfolio-container {
    display: flex;
    justify-content: center;
    align-items: right;
    padding-bottom: 20vh;
    height: 100%;
}



.portfolio-item-container {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 5vh;
    /* background:  white; */
    border-radius: 2vh;
}

.portfolio-item p, h1, h3,  ul {
    width: fit-content;
    padding: 30px;
    background: white;
    border-radius: 50px;
}

.portfolio-item ul {
    padding-left: 3vw;
}


.portfolio-item-container img {
    aspect-ratio: auto;
    width: max(20%, 300px);
    height: min(100%, 300px);
    padding:2vw;
    margin-left: 2vw;
    background: white;
    border-radius: 50px;;
}

.portfolio-item a{
    color: black;
}

.qualifications-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.qualifications-container .content-container {
    width: 80%;
    padding-inline: 4.5vw;
}

.qualifications-content {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}

.resume {
    margin-left: 10vw;
    margin-top: 4vh;
    margin-bottom: 30vh;
    width: 75%;
    height: 50vh;
}

.qualifications-paragraphs h1 {
    padding-left: 0;
}

.qualifications-paragraphs {
    margin-top: 30vh;
    margin-left: 15vw;
    width: 60%;

    background: white;
    padding: 30px;
    border-radius: 50px;

}

.qualifications-paragraphs a {
    color:black;
}

.service-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 20vh;

}


.service-content {
    display: flex;
    flex-direction: rowx`-reverse;
    margin-top: 45vh;

}

.service-content p, h1{
    padding: 30px;
    border-radius: 50px;
    background: white;
}
.service-content img {
    margin-right: 3vw;
    padding:20px;
    background: white;
    border-radius: 50px;
}

.services a {
    color: black;
}

.swapButton {
    position: fixed;
    top: 1vh;
    left: 1vw;
    font-weight: 600;
    border: 2px solid rgb(212, 212, 212);
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 30px;
    padding: 10px;
    padding-inline: 10px;
    text-align: center;
}

.swapButton:hover {
    background-color: rgb(184, 167, 167);
}